-- dev\<%= program_name %>
PROGRAM <%= program_name %> NOHOLD
--IMPORT 

CONST
	<% const_variables.each do |key, value| -%>
	<%= "#{key} = #{value}" %>
	<% end %>
TYPE
    <% records_variables.each do |record_name,record_body| %>
    <%= "#{record_name}" -%> = RECORD
      <% record_body.each do |field_name, field_type| -%>
        <% if field_type == 'string'%>
			<%= "#{field_name} : #{field_type}" -%>[max_string_length] 
        <% else %>
			<%= "#{field_name} : #{field_type}" -%> 
        <% end -%>
      <% end %>
    ENDRECORD
    <% end %>
VAR
-- Tables
	<% tables_variables.each do |table_name, table_info| %>
        <% if table_info[:type] == 'string'%>
        	<%= "#{table_name} : ARRAY [#{table_info[:count]}] OF #{table_info[:type]}" -%>[max_string_length] EXPORTED FROM <%= program_name %>
        <% else %>
			<%= "#{table_name} : ARRAY [#{table_info[:count]}] OF #{table_info[:type]}" -%> EXPORTED FROM <%= program_name %> 
        <% end -%>

	<% end %>

-- Singles
	<% single_variables.each do |var_name, var_info| -%>
	<% if var_info[:type] == 'string' %>
	<%= "#{var_name} : #{var_info[:type]}" -%>[max_string_length] EXPORTED FROM <%= program_name %>
	<% else %>
	<%= "#{var_name} : #{var_info[:type]}" -%> EXPORTED FROM <%= program_name %>
	<% end -%>
	<% end -%>

-- Routines
ROUTINE setDefaultValue EXPORTED FROM <%= program_name %>
ROUTINE LogCRT(crt_message : string) EXPORTED FROM <%= program_name %>

ROUTINE turi_framedata_set(frame_index: Integer; frame_value:Position; is_remote: Boolean):Integer EXPORTED FROM tu_frame
ROUTINE turi_framedata_get(frame_index: Integer; frame_value:Position; is_remote: Boolean):Integer EXPORTED FROM tu_frame
ROUTINE ttri_tooldata_set(tool_index: Integer; frame_value:Position; is_remote: Boolean):Integer EXPORTED FROM tt_tool
ROUTINE ttri_tooldata_get(tool_index: Integer; frame_value:Position; is_remote: Boolean):Integer EXPORTED FROM tt_tool


ROUTINE setFrameIn EXPORTED FROM  <%= program_name %>
ROUTINE setFrameOut EXPORTED FROM  <%= program_name %>

ROUTINE getFrameIn EXPORTED FROM  <%= program_name %>
ROUTINE getFrameOut EXPORTED FROM  <%= program_name %>

ROUTINE setTool EXPORTED FROM  <%= program_name %>
ROUTINE getTool EXPORTED FROM  <%= program_name %>

ROUTINE resetBoxes 		EXPORTED FROM <%= program_name %>
ROUTINE resetLayers 	EXPORTED FROM <%= program_name %>
ROUTINE resetUsedLayers EXPORTED FROM <%= program_name %>
ROUTINE addNewBox(new_box : Box)			EXPORTED FROM <%= program_name %>
ROUTINE addNewLayer(new_layer_name : string)		EXPORTED FROM <%= program_name %>
ROUTINE addNewUsedLayer(new_used_layer_name : string) 	EXPORTED FROM <%= program_name %>

ROUTINE requestBox(request_box_index: integer; request_box_layer_name: string) EXPORTED FROM <%= program_name %>

ROUTINE setMissionName(new_name: string) EXPORTED FROM pd_db

ROUTINE countOfBoxes(layer_name: string) EXPORTED FROM pd_db

ROUTINE countOfBoxes(layer_name: string)
VAR 
  index: integer
BEGIN
	temp_boxes_count := 0
	
	FOR index := 1 to max_boxes_all DO
		if (layer_name = '') then 
			if (boxes_in_layer[index].is_available = true) then
				temp_boxes_count := temp_boxes_count + 1
			endif
		else 
			if (boxes_in_layer[index].is_available = true) and (boxes_in_layer[index].layer_name = layer_name) then
				temp_boxes_count := temp_boxes_count + 1
			endif
		endif

	ENDFOR		

END countOfBoxes


ROUTINE setMissionName(new_name: string)
VAR 
  
BEGIN
	mission_data.name := new_name
END setMissionName

ROUTINE requestBox(request_box_index: integer; request_box_layer_name: string)

-- warning: pdl shows array has limit bytes by requests.
VAR 
  index: integer
  layer_index :integer
BEGIN
	layer_index := 1
	FOR index := 1 to max_boxes_all DO
		if (boxes_in_layer[index].layer_name = request_box_layer_name) and (boxes_in_layer[index].is_available = true) then
			if layer_index = request_box_index then 
				request_box := boxes_in_layer[index]
				return
			else 
				layer_index := layer_index + 1
			endif	
		endif
	ENDFOR
	request_box.is_available := false
END requestBox

ROUTINE setDefaultValue
VAR 
  
BEGIN

	mission_data.name := 'mission_test'
	mission_data.creator := 'Your name'
	mission_data.product := 'Your product name'
	mission_data.code    := 'Your mission code'
	mission_data.company := 'Your Company'

	setting_data.frame_line_in_index := 1
	setting_data.frame_line_in_position_x := 12
	setting_data.frame_line_in_position_y := 13
	setting_data.frame_line_in_position_z := 14
	setting_data.frame_line_in_position_r := 15

	setting_data.frame_line_out_index := 2
	setting_data.frame_line_out_position_x := 22
	setting_data.frame_line_out_position_y := 23
	setting_data.frame_line_out_position_z := 24
	setting_data.frame_line_out_position_r := 25

	setting_data.box_length	:= 200
	setting_data.box_width   := 80
	setting_data.box_height  := 20
	setting_data.box_weight  := 10
	setting_data.box_x_off 	:= 10          
	setting_data.box_y_off 	:= 10          
	setting_data.box_z_off 	:= 10          
	setting_data.orient := true                        
	setting_data.length_wise := true          
	setting_data.cross_wise := false          
	setting_data.box_per_pick :=  2         
	setting_data.pallet_length :=  800         
	setting_data.pallet_width :=  600
	setting_data.pallet_weight :=  1000          
	setting_data.pallet_height :=  100         
	setting_data.mini_distance :=  20         
	setting_data.sleepsheet_height :=  2         
	setting_data.tare :=  1000         
	setting_data.max_gross :=  800         
	setting_data.max_height := 800         
	setting_data.max_pack := 4
	setting_data.overhang_wid := 10
	setting_data.overhang_len := 10

	setting_data.tool_index := 1
	setting_data.tool_position_x := 31
	setting_data.tool_position_y := 32
	setting_data.tool_position_z := 33
	setting_data.tool_position_a := 34
	setting_data.tool_position_e := 35
	setting_data.tool_position_r := 36

	request_box.is_available := false
	temp_boxes_count := -1

	resetBoxes
	resetLayers
	resetUsedLayers

	LogCRT('setDefaultValue done!')	
END setDefaultValue


ROUTINE resetBoxes
VAR 
  box_index : Integer
  box_count : Integer
BEGIN
	box_count := max_boxes_all
	FOR box_index := 1 to box_count DO
		boxes_in_layer[box_index].is_available := false
		boxes_in_layer[box_index].layer_name := UNINITIALIZED_STRING
	ENDFOR	
END resetBoxes

ROUTINE resetLayers
VAR 
  layer_index : Integer
  layer_count : Integer
BEGIN
	layer_count := max_layer_types
	FOR layer_index := 1 to layer_count DO
		layers[layer_index].is_available := false
		layers[layer_index].name := UNINITIALIZED_STRING
	ENDFOR		
END resetLayers

ROUTINE resetUsedLayers
VAR 
  used_layer_index : Integer
  used_layer_count : Integer
BEGIN
	used_layer_count := max_layers_per_pallet
	FOR used_layer_index := 1 to used_layer_count DO
		used_layers[used_layer_index].is_available := false
		used_layers[used_layer_index].name := UNINITIALIZED_STRING
	ENDFOR	
END resetUsedLayers

ROUTINE addNewBox(new_box : Box)
VAR 
  box_index : Integer
  box_count : Integer
BEGIN

	box_count := max_boxes_all
	FOR box_index := 1 to box_count DO
		if boxes_in_layer[box_index].is_available = false then
			boxes_in_layer[box_index].is_available := true

			boxes_in_layer[box_index].x := new_box.x
			boxes_in_layer[box_index].y := new_box.y
			boxes_in_layer[box_index].rotate := new_box.rotate
			boxes_in_layer[box_index].arrow := new_box.arrow
			boxes_in_layer[box_index].arrowEnabled := new_box.arrowEnabled
			boxes_in_layer[box_index].layer_name := new_box.layer_name		
			return	
		endif
	ENDFOR		
END addNewBox

ROUTINE addNewLayer(new_layer_name : string)
VAR 
  layer_index : Integer
  layer_count : Integer
BEGIN
	layer_count := max_layers_per_pallet
	FOR layer_index := 1 to layer_count DO
		if layers[layer_index].is_available = false then
			layers[layer_index].is_available := true
			layers[layer_index].name := new_layer_name		
			return	
		endif
	ENDFOR		
END addNewLayer

ROUTINE addNewUsedLayer(new_used_layer_name : string)
VAR 
  used_layer_index : Integer
  used_layer_count : Integer
BEGIN
	used_layer_count := max_layers_per_pallet
	FOR used_layer_index := 1 to used_layer_count DO
		if used_layers[used_layer_index].is_available = false then
			used_layers[used_layer_index].is_available := true
			used_layers[used_layer_index].name := new_used_layer_name		
			return	
		endif
	ENDFOR			
END addNewUsedLayer


ROUTINE LogCRT(crt_message: String)
VAR 
  
BEGIN
	write lun_crt(crt_message, NL)
END LogCRT

ROUTINE setFrameIn
VAR 
  to_set_frame_position : Position
BEGIN
	to_set_frame_position := POS(setting_data.frame_line_in_position_x, setting_data.frame_line_in_position_y, setting_data.frame_line_in_position_z,0,0,setting_data.frame_line_in_position_r)
	write lun_crt(to_set_frame_position,nl)
	turi_framedata_set(setting_data.frame_line_in_index, to_set_frame_position, false)
END setFrameIn

ROUTINE getFrameIn
VAR 
  to_get_frame_position : Position
BEGIN

	turi_framedata_get(setting_data.frame_line_in_index, to_get_frame_position, false)
	write lun_crt(setting_data.frame_line_in_index, nl)
	write lun_crt(to_get_frame_position.x, ' ', to_get_frame_position.y, ' ', to_get_frame_position.z, ' ', to_get_frame_position.r, nl)
	write lun_crt(to_get_frame_position)
	setting_data.frame_line_in_position_x := to_get_frame_position.x
	setting_data.frame_line_in_position_y := to_get_frame_position.y
	setting_data.frame_line_in_position_z := to_get_frame_position.z
	setting_data.frame_line_in_position_r := to_get_frame_position.r
	write lun_crt(setting_data.frame_line_in_position_x, ' ', setting_data.frame_line_in_position_y, ' ', setting_data.frame_line_in_position_z, ' ', setting_data.frame_line_in_position_r, nl)




END getFrameIn


ROUTINE setFrameOut
VAR 
  to_set_frame_position : Position
BEGIN

	to_set_frame_position := POS(setting_data.frame_line_out_position_x, setting_data.frame_line_out_position_y, setting_data.frame_line_out_position_z,0,0,setting_data.frame_line_out_position_r)
	write lun_crt(to_set_frame_position,nl)
	turi_framedata_set(setting_data.frame_line_out_index, to_set_frame_position, false)

END setFrameOut

ROUTINE getFrameOut
VAR 
  to_get_frame_position : Position
BEGIN

	turi_framedata_get(setting_data.frame_line_out_index, to_get_frame_position, false)
	write lun_crt(setting_data.frame_line_out_index, nl)
	write lun_crt(to_get_frame_position.x, ' ', to_get_frame_position.y, ' ', to_get_frame_position.z, ' ', to_get_frame_position.r, nl)
	write lun_crt(to_get_frame_position)
	setting_data.frame_line_out_position_x := to_get_frame_position.x
	setting_data.frame_line_out_position_y := to_get_frame_position.y
	setting_data.frame_line_out_position_z := to_get_frame_position.z
	setting_data.frame_line_out_position_r := to_get_frame_position.r
	write lun_crt(setting_data.frame_line_out_position_x, ' ', setting_data.frame_line_out_position_y, ' ', setting_data.frame_line_out_position_z, ' ', setting_data.frame_line_out_position_r, nl)


END getFrameOut

ROUTINE setTool
VAR 
  to_set_tool_position : Position
BEGIN

	to_set_tool_position := POS(setting_data.tool_position_x, setting_data.tool_position_y, setting_data.tool_position_z,setting_data.tool_position_a,setting_data.tool_position_e,setting_data.tool_position_r)
	write lun_crt(to_set_tool_position, nl)
	ttri_tooldata_set(setting_data.tool_index, to_set_tool_position, false)

END setTool

ROUTINE getTool
VAR 
  to_get_tool_position : Position
BEGIN

	ttri_tooldata_get(setting_data.tool_index, to_get_tool_position, false)
	setting_data.tool_position_x := to_get_tool_position.x
	setting_data.tool_position_y := to_get_tool_position.y
	setting_data.tool_position_z := to_get_tool_position.z
	setting_data.tool_position_r := to_get_tool_position.r
	setting_data.tool_position_a := to_get_tool_position.a
	setting_data.tool_position_e := to_get_tool_position.e

END getTool
  
-- main 
BEGIN

END <%= program_name %>

--test command status: 				http://192.168.56.2/get?var=command_&prog=<%= program_name %>

--save current mission: 			http://192.168.56.2/set?var=command_&prog=<%= program_name %>&value='save'

--get dir list including dirname:	http://192.168.56.2/get?dirList=UD:\usr\dev\data  -- []  or  ['folder_name', 'fileA']

--call a routine without CALL:  http://192.168.56.2/run?routine='routine_name(param1, param2,...)'&prog='program_name'